/* Phone Screen */

@media only screen and (max-width: 393px){

    .header-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        padding: 10px;
        background-image: url(../../Assets/Images/header-background.jpg);
        background-repeat: no-repeat;
        text-align: right;
        font-size: 1rem;
        height: 340px;
        min-width: 393px;
        h1 {
            margin: auto;
            padding: 10px 40px 50px 50px;
            color: white;
            display: flex;
            align-items: center;
            overflow-wrap: break-word;
        }
        .header-top{
            display: flex;

        }
        .header-bottom{
            display: flex;
        }
        .home-icon{
            display: flex;
            flex-direction: column;
            margin-bottom: auto;
            margin-top: 15px;
            margin-left: 5px;
            max-width: 50px;   
        }
        .jim-illustration{
            margin-left: 5px;
            position: relative;
            bottom: 100px;
            left:0;
            width: 70%; 
             
        }
        .hamburger-menu {
            position: relative;
            max-width: 60px;
            left: 15px;
            bottom: 10px;
        }

    }
}

/* Larger Devices */